.Input{
    width: 90%;
    margin: 8px auto;
    margin-top: 0;
}
.Input label{
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    color:black;
    margin-bottom: 8px;
    padding: 0;

}
.Input input, .Input textarea{
    width: 100%;
    display: block;
    padding: 1.2rem;
    line-height: 1.4;
    font-size: 1.6rem;
    outline: none;
    background-color: rgb(152, 214, 255);
    margin-bottom: 16px;
    border: 1px solid var(--secondaryBColor);
    border-radius: 2px;
}
.Input.InputError input, .Input.InputError textarea{
    background-color: salmon ;
    color:red;
    border-color:red;
}
.Input input:active, .Input input:focus{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
}
.Input input:disabled{
    color:var(--primaryColor);
    border-color: gray;
    box-shadow: 1px 3px 6px rgba(30,30,30,0.3);
}
.Normal{
    visibility: hidden;
}
.Error{
    visibility: visible;
    color: red;
    font-size: 1.4rem;
    font-weight:500;
    width: 100%;
    text-align: left;
}
.Error::before{
    content: '*';
    display: inline-block;
    padding-right: 0.4rem;
}
.Helper{
    visibility: visible;
    color:var(--primaryColor);
    width: 100%;
    font-size: 1.5rem;
    background-color: lightgray;
}
.Error.Helper{
    color:red;
}
