.Message{
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    padding: 2.2rem;
    background-color: whitesmoke;
    border-radius: 1.2rem;
    position: fixed;
    max-height: 90vh;
    overflow: auto;
    top: 12%;
    left: calc(50% - 450px);
    z-index: 10000000;
    padding-top: 0.6rem;
}
.Grid{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.4rem;
    color:white;

}
.MessageArea{
    min-height: 300px;
    max-height: 20vh;
    overflow: auto;

    
}
.MessageAction{
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    max-height: 30vh;
    margin-bottom: 1.5rem;
    border-radius: 0.6rem;
}
.MessageAction textarea{
    max-height: 13.4rem;
    margin-bottom: 0.8rem;
    background-color: transparent;
}
.MessageAction button{
    margin-left: 3.7rem;
    margin-top: 0;
    letter-spacing: 2px;
}
.You{
    width:80%;
    text-align: right;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    margin: 0.8rem 0;
    margin-left: 20%;
    padding: 0.8rem 1.2rem;
    background-color: rgba(148, 148, 255, 0.8);
    color: #292929;
}
.Person{
    width: 80%;
    text-align: left;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    margin:0.8rem 0;
    margin-right: 20%;
    padding: 0.8rem 1.2rem;
    background-color: lightblue;
    color:#292929;
}
