.Select{
    width:90%;
    margin:0 auto;
    margin-bottom: 16px;
   

}
.Select label{
    display: block;
    width: 100%;
    font-size: 1.6rem;
    padding: 0;
    font-weight: 700;
    margin-bottom: 8px;
}
.Select select{
    width: 100%;
    display: block;
    margin-bottom: 12px;
    padding: 1.2rem;
    font-size: 1.6rem;
    background-color: blueviolet;
    color:white;
    outline:none;
    border-radius: 2px;


}
.Select select:active{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
}
.Select option{
    background-color: lightgray;
    color:black;
    outline:none;
}
.Select option:hover, .Select option:active{
    background-color: lightgray;
}