
.Encounter{
    width: 100%;
    padding:10%;
    margin-top: -3.2rem;

}
.Encounter h1{
    font-size: 5.2rem;
    width: 100%;
    text-align: center;
}
.Grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
}

.Grid > div{
    margin-right: 3.2rem;
    margin-left: 0;
}
.Grid > div:last-child{
    margin-right: 1rem;
}

.Grid .Select{
    margin-top: 1.2rem;
    
}
.Grid .Select select{
    min-height: 5.0rem;
    background-color: rgb(152, 214, 255) ;
    color: black;

}
.Select select:active{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
}
.Hide{
    display:none;
}

.Submit{
    width: 250px;
    margin-top: 8.0rem;
    
}
.Normal{
    visibility: hidden;
}
.Error{
    font-size: 1.5rem;
    color:red;
    visibility: visible;
}
.Grid .Special{
    width:110% !important;
    margin-right: 0;
    
}