.Notification{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* max-height: 60.0rem; */
    padding: 2.4rem;
    border-radius: 2.4rem;
    box-shadow: 2px 6px 10px rgba(20,20,20,0.3);
    background-color: rgba(182, 223, 236,0.9);
    color:#292929;
    cursor: pointer;

}
.Notification:hover{
    background-color: rgb(122, 181, 199);
    color:#393939;
    
}
.Notification > *{
    width:37%;
    font-size: 2.8rem;
}
.Seen{
    background-color: white;
    color:#282828;
}
.Seen:hover{
    background-color: #f2f2f2;
}
.Time{
    text-align: right;
    color:rgb(87, 87, 87);
    font-size:2.4rem;
    width: 20%;
}
.Header{
    font-weight: 700;
    font-size: 3.0rem;
}
.FirstName{
    font-weight: 500;
}
.LastName{
    opacity:0.8
}
.From, .Patient{
    padding:1.4rem 0.6rem;
}