.SignUp{
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 20000;
    top:0;
    left:0;
    background-color: blueviolet;
    
}

.Form{
    position: fixed;
    top: calc(50% - 280px);
    left: calc(50% - 350px);
    border-radius: 1.6rem;
    box-shadow: 1px 4px 5px rgba(100,100,100,0.2);
    z-index: 100;
    background-color: white;
    width: 800px;
    min-height: 500px;
    padding: 2.5rem;
    margin: auto;
    

}

.Details{
    transform: translateY(130%);
    transition: transform linear 1000ms 200ms;
    z-index: 50;
    /* opacity: 0; */
    visibility: hidden;
}
.Error{
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
    color: red;
    visibility: hidden;
    /* opacity: 0; */

}
.Show{
    transform: translateY(0);
    /* opacity: 1; */
    visibility: visible;
}
.Hide{
    display: none;
}
.Grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2.2rem;

}
.Grid>div{
    margin-left: 2.0rem;
}
.Column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Column>div{
    width:90%;
    margin:auto;
}

.Line{
    color:blueviolet;
    width: 100%;
    cursor: pointer;
    font-size: 1.6rem;
    text-align: center;
    position: relative;
   
    
}
.Link{
    text-decoration: none;
}
.Line::after, .Line::before{
    content: '';
    min-width: calc(50% - 30ch);
    min-height: 2px;
    background-color: var(--primaryBColor);
    display: inline-block;
    margin-bottom: 0.4rem;
    margin-left: 3px;

    
}
.Btn{
    width:240px;
    padding: 1.2rem 1.6rem;
    text-align: center; 
    margin-left: 2.8%;
    font-size: 1.8rem;
    letter-spacing: 2px;
    background-color: var(--secondaryBColor);
    outline: none;
    border:none;
    border-radius: 4px;
    color:white;
    cursor: pointer;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Next{
    margin-left: 5%;
}
.Btn:hover{
    border: 2px solid var(--secondaryBColor);
    background-color: white;
    color: var(--secondaryBColor);
}
.Btn:disabled{
    color:gray;
    border-color: gray;
    background-color: white;
}